---
title: CSS stylesheet
---

body {
  background: url('{{ "/assets/images/greyzz.png" | prepend: site.baseurl }}');
}

.site-header {
  background-color: #EBEBEB;
  border-top: 5px solid #e8e8e8;
}

.hero-section {
  border-bottom: 1px solid #e8e8e8;
}

.ds-section {
  background: url('{{ "/assets/images/crossword.png" | prepend: site.baseurl }}');
  padding-top: 25px;
}

.hero-title {
  font-weight: bold;
  font-size: 40px;
}

.hero-subtitle {
  margin-top: 25px;
}

.hero-top {
  margin-top: 30px;
}

.project-stat {
  text-align: center;
  line-height: 2;
}

.summary {
  margin-top: 30px;
}

.project-stats {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
}

.onyx-medium-row {
  text-align: center;
}

.onyx-medium-row-top {
  margin-top: 23px;
  margin-bottom: 10px;
}

.onyx-medium-row-bottom {
  margin-bottom: 10px;
}

.onyx-medium-badge {
  font-size: 13px;
  font-weight: inherit;
  padding: 6px 10px;
}

.ds-description {
  font-size: 15px;
}

.nav-choice {
  margin-top: 15px;
  font-size: 16px;
}

.nav-pills > li > a:hover {
  color: #FFF;
}

.onyx-pub {
  margin-right: 5px;
}

.get-started {
  margin-top: 30px;
}

#nav-title {
  color: #3D555C;
  font-weight: bold;
}

#nav-title:hover {
  text-decoration: none;
}

.head-shot {
  display: inline;
}

.team-member {
  text-align: center;
}

.page-heading {
  margin: 25px 0 25px 0;
}

.member-github {
  margin-right: 5px;
}

.team-member-s-icon {
  font-size: 18px;
  color: #3D555C
}

.t-title {
  margin-bottom: 15px;
}

.fa-wrapper {
  color: #3D555C;
}

.support-icon {
  font-size: 10em;
}

.support-type {
  background-color: #d9edf7
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.support-icon.dropped {
  margin-top: 35px;
}

.support-icon.sliding {
  margin-left: 10px;
}

p {
  font-size: 16px;
}

.support-description {
  margin: 25px 0 25px 0;
}

.well.team-member {
  margin-right: 3px;
}

.post-title {
  font-size: 36px;
}
.post-link {
  font-size: 20px;
}

.page-contents {
  background: #d9edf7;
  border-radius: 0;
}

.page-contents > ul > li {
  font-size: 16px;
  padding: 8px 0 8px 0;
}

a {
  color: #337ab7;
}

a:visited {
  color: #337ab7;
}

.row > .panel {
  padding-top: 20px;
}

.row > .page-contents {
  padding-top: 35px;
  padding-bottom: 35px;
}

table {
    border:#ccc 1px solid;
    border-radius:3px;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
}
table tr {
    padding-left:20px;
}
table td {
    padding: 6px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

ul, ol {
  margin-left: 15px;
}

.docs-section {
  margin-top: 5px;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 15px;
}

hr {
  border-top: 1px solid #e8e8e8;
}

.main-subtitle {
  margin-top: 0;
}

.blog-member {
  height: 40%;
  width: 40%;
}

.highlight .err {
  color: inherit;
  background-color: inherit;
}