<header class="site-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <h2><a id="nav-title" href="{{ '/' | prepend: site.baseurl }}">Onyx</a></h2>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <ul class="nav nav-pills navbar-right">
          <li class="nav-choice" role="presentation"><a href="{{ '/learn' | prepend: site.baseurl }}">learn</a></li>
          <li class="nav-choice" role="presentation"><a href="{{ '/docs' | prepend: site.baseurl }}">docs</a></li>
          <li class="nav-choice" role="presentation"><a href="{{ '/tools' | prepend: site.baseurl }}">tools</a></li>
          <li class="nav-choice" role="presentation"><a href="{{ '/blog' | prepend: site.baseurl }}">blog</a></li>
          <li class="nav-choice" role="presentation"><a href="https://github.com/onyx-platform/onyx">github</a></li>
          <li class="nav-choice" role="presentation"><a href="{{ '/support' | prepend: site.baseurl }}">support</a></li>
          <li class="nav-choice" role="presentation"><a href="{{ '/team' | prepend: site.baseurl }}">team</a></li>
        </ul>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</header>
